@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Color 
#181C27
#214E7E
#242A38
#274164
#8B38FA
#F58929
#3E5FCA
#DE0C0D
#6203FF
#6D6D2F
*/


/* Primary Color 
#FF0D64
#FDFDFD
#000000
#214E7E
rgb(102, 51, 153)

*/

/* GLOBAL SETTINGS */
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}



.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;


  font-family: "Lato", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;

}

.intro span {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

body {
  background-color: #fdfdfd;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.loginForm h1 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
}

.isForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.isForm__phone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.isForm__password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

input {
  padding: 8px;
  outline: none;
  border-bottom: 1px solid #000000;
  border-radius: 5px;
  margin-top: 10px;
  width: 300px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #000000;
  background-color: #FDFDFD;
  transition: all 0.3s ease;
}

button {
  padding: 10px 30px;
  border: none;
  margin-top: 40px;
  background-color: #DE0C0D;
  color: #FDFDFD; 
}


/* MAIN TABLE BOX */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table--lead {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 80px auto 80px;
  gap: 10px 15px;
  height: 30px;
}

.td--1x, 
.td--lx, 
.td--2x {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #fdfdfd;
  background-color: #214E7E;
}

/* Over and Under */
.td--ov {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-left: 20px;

  color: #FDFDFD;
  background-color: #214E7E;
}

.td--un {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  color: #FDFDFD;
  background-color: #214E7E;
}


/* NAVBAR STYLING */
.container {
  background-color: rgb(255, 13, 100, 0.80);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  z-index: 1;
  height: 30px;
}

.web--Sport {
  background-color: #FDFDFD;
  padding: 10px 30px;
  border-radius: 5px;
  color: #000000;
}

.nav--data .web--Sport {
  display: inline-flex;
  margin-left: 10px;
  align-items: center;
}

.nav--data .web--Sport:hover {
  background-color: rgb(102, 51, 153);
  cursor: pointer;

  transition:  0.3s ease;
}

.nav--data .web--Sport:hover a {
  color: #FDFDFD;
}


.nav--data .web--Sport a {
  margin: 0 auto;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.web--Casino {
  background-color: #FDFDFD;
  padding: 10px 30px;
  border-radius: 5px;
  color: #000000;
  
}

.nav--data .web--Casino {
  display: inline-flex;
  margin-left: 10px;
  align-items: center;

}

.nav--data .web--Casino:hover {
  background-color: rgb(102, 51, 153);
  cursor: pointer;

  transition: 0.3s ease;
}

.nav--data .web--Casino:hover a {
  color: #FDFDFD;
}

.nav--data .web--Casino a {
  margin: 0 auto;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.main--nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav--data {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav--data img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.component--data > li {
  list-style-type: none;
  margin-left: 10px;
  display: inline;
  padding: 10px;
}

.list-item--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 10px 30px;
  background-color: #fdfdfd;
  border-radius: 5px;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.list-item--primary a:link,
.list-item--primary a:active {
  text-decoration: none;
}

.list-item--primary a {
  color: #000000;
}

.list-item--primary:hover {
  background-color: #DE0C0D;
  color: #FDFDFD;

  cursor: pointer;
}

.list-item--primary:hover a {
  color: #fdfdfd;
}


.list-item--secondary {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 50px;
  background-color: #fdfdfd;
  border-radius: 5px;
  color: #FDFDFD;

  font-size: 15px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.list-item--secondary a:link,
.list-item--secondary a:active {
  text-decoration: none;
  color: #FDFDFD;
}

.list-item--secondary:hover {
  background-color: #DE0C0D;

  cursor: pointer;
}

.list-item--secondary:hover a {
  color: #FDFDFD;
}


/* HEROS SECTION STYLING */
.hero--container {
  padding: 0 150px;
}

.hero--sidebar {
  padding: 20px;
}

.hero--sidebar ul {
  list-style-type: none;
}

.hero--sidebar .sidebar li > a {
  text-decoration: none;
  color: #000000;

}


.hero--data {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 75vw;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  transform: translate(-50%, -0%);
  left: 50%;
  
  z-index: 1;
}

.hero--card-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;

  background-image: linear-gradient(
      rgba(255, 0, 119, 0.45), rgba(255, 0, 157, 0.45)
    ),url(./img/dynamic-hero-header-for-superbet--04.jpeg);
  background-size: cover;
  background-position: top center;
}

.hero--card-one .hero--title {
  padding: 5px;
  text-align: center;
  font-size: 28px;
  font-family: "Lato", sans-serif;
}

.hero--card-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 190px;

  color: #000000;
  font-family: "Lato", sans-serif;
}

.hero--btn {
  padding: 10px 25px;
  height: 40px;
  border-radius: 5px;

  cursor: pointer;
}

.hero--card-two .card--one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.card--one .card--body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card--body .card--btn {
  padding: 10px 25px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(255, 13, 100, 0.80);
  color: #FDFDFD;
  transition: all 0.3s ease;
}

.card--body .card--btn:hover {
  background-color: rgb(102, 51, 153);
  cursor: pointer;
}

.hero--card-two .card--two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  
}

.card--two .card--body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card--img img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.latest--games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  margin-top: 20px;
  width: 75vw;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  transform: translate(-50%, -0%);
  left: 50%;
  background-color: #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.latest--games .latest--games--title {
  position: relative;
  top: -8px;
  right: 30px;
  padding: 10px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.latest--games .latest--games--container {
  display: flex;
  flex-direction: row;
}


.latest--games--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.latest--games--card img {
  height: 100px;
  border-radius: 5px;
  padding: 5px;
}

.latest--games--card h2 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 5px;
}