*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}




.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;

}