@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Basic Settings */
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOR 
#ff4b5a
#047912
#c60404
#ff4500
#e0dede
#ffffff
#06113c

*/

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .ws-nav-item {
  border-bottom: 1px #FF4B5A solid;
  padding: 5px;
} */

.ws--btn {
  margin-top: 5px;
}

.ws--btn button {
  padding: 10px 25px;
  background-color: #00bc7d;
  color: #ffffff;
  cursor: pointer;
}

.ws-navBar--link:hover,
.ws-navBar--link:focus {
  border-bottom: 1px #00bc7d solid;
}

/* Styling Of The Icon */
.input-icon {
  color: #6c757d;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #c60404;
  color: #ffffff;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 500;
}

.gray-text {
  background: #eaeaea;
  color: #676767;
}

/* NAVIGATION BAR STYLING */

/* Styling Of The Icon */

/* Media Queries Settings */

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .ws-form--container {
    width: auto;
    margin-top: 35px;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .ws-form--container {
    width: auto;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 390px) {
  .ws-form--container {
    width: auto;
    margin-top: 35px;
  }
}
